h1 {
    /* title*/
    text-transform: uppercase;
    line-height: 6.5em;
    font-family: sans-serif;
    font-size: 70px;
    font: weight 700px; 
    
}

.introp{
    font-family: sans-serif;
    
}



h3{
    font-size: 80px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 70px;
    font: weight 1500px; 
   

}

/*
body {
    
    line-height: 1.6em;
    font-family: sans-serif;
    margin:100px;
}
*/

.box-a{
    /*targets in red color boxes*/
    background-color: red;
    
    /*padding*/
    padding: 25px;
    
}

.box-a h2{
   /*text inside the red color box*/ 
 font-family:  sans-serif;
 font-size: 30px;
 font-weight: 500px;
}


/*remove the underline of anchor tags*/
a{
    text-decoration: none;
    color: black;
}

/*hover selector for select elements when the mouse move over the words*/
a:hover{
    color: tomato;
}

/*change color when click*/
a:active{
    color: navy;

}

.para{
    margin-left: 3em;
    margin-right: 2em;
    font-family: sans-serif;
    font-size: large;
}


hr{
    height:0.5px;
    border-width: 0.5px;
    background-color:lightgray ;
    
}

/*use flex to show the list horizontally*/

.project-counter-wrp ul{
    list-style-type: none;
    display:flex
}


/*size*/
.project-counter-wrp ul li {
    width:33.33% ;
    height: 100% ;
    padding:  30px  0px;
    text-align: center;
    transition: 0.2s linear;

}

.project-counter-wrp ul li:hover{
    transform: scale(1.1);

}

/*box colors*/
.project-counter-wrp ul li:nth-child(1){
    background:rgb(182, 25, 25)
}

.project-counter-wrp ul li:nth-child(2){
    background:rgb(196, 28, 28)
}

.project-counter-wrp ul li:nth-child(3){
    background:rgb(206, 29, 35)
}

.project-counter-wrp ul li p.number{
    font-size: 40px;
    padding: 0;
    font-weight: bold;

}

.project-counter-wrp ul li p{
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px
   
    

}

.project-counter-wrp ul li  span{
  width:60px ;
  background: rgba(255, 255, 255, 0.8);
  height: 2px;
  display: block;
  margin: 0 auto;


}


.project-counter-wrp ul li i {
    color: rgba(255, 255, 255, 0.8);
    font-size: 50px
    

}
    


