body{
    /* background-image: url() */
    background-color: rgb(230, 230, 230);
}
.para-cont{
    text-align: center;
}
.cont-head{
    margin-top: 50px;
    text-align: center;
    color: rgb(209, 55, 55);
    font-weight: bold;
}
.cont-head2{
    margin-top: 100px;
    text-align: center;
    color: rgb(209, 55, 55);
    font-weight: bold;
}
.para01{
    margin-top: 50px;
    width: 1000px;
    text-align: center;
    color: rgb(99, 99, 99);
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.para02{
    margin-top: 30px;
    width: 1000px;
    text-align: center;
    color: rgb(99, 99, 99);
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.head3{
    margin-top: 50px;
    color: rgb(218, 91, 91);
}

.card-cont{
    margin-top: 50px;
    display: flex;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    margin-left: 2.5%;
    border-radius: 5px;
    background-color: rgb(245, 245, 245);
    text-align: center;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .card-img {
    border-radius: 5px 5px 0 0;
  }
  
  .container {
    padding: 2px 16px;
  }

  .card-title{
      color: rgb(49, 49, 49);
      font-weight: normal;
  }
  .crd-p{
      
    color: rgb(112, 112, 112);
  }

  .end-div{
      margin-top: 80px;
      margin-bottom: 80px;
  }

  .end-img{
      width: 300px;
  }