/* Add a black background color to the top navigation */
.topnav {
    background-color: #B90E0A;
    overflow: hidden;
    z-index:999;
    height:80px;
    position:sticky;
    top:0;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: white;
    text-align: center;
    padding: 30px 30px;
    text-decoration: none;
    font-size: 16px;
    font-family:Microsoft YaHei UI;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #221f1f;
    color: white;
    opacity:80%;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #221f1f;
    color: white;
  }

  /* put the bullets in front of images */
.getfront{
    position: absolute;
    top: 680px;
    left: 50%;
}

.navimg{
    height:70px;
    padding-left: 40px;
    padding-top: 10px;
}