.intro{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    margin-left: 440px;
    margin-top:110px;
    line-height: 200%;
    position: absolute;
    top:700px;
    position:absolute;
}

.intro2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
  margin-left: 440px;
  margin-top:480px;
  line-height: 200%;
  position: absolute;
  top:700px;
  position:absolute;
}
.whoim{
    margin-top: 80px;
    margin-left: 80px;
    width:300px;
    height:300px; 
}
.whoim2{
  margin-top: 20px;
  margin-left: 80px;
  width:300px;
  height:300px; 
}

#grad1 {
    background-color: rgb(163, 162, 162); /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, rgb(243, 240, 240) , rgb(99, 99, 99));
    height:400px;
    margin-top: 0px;
  }

  #grad2 {
    background-color: rgb(163, 162, 162); /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, ) , rgb(99, 99, 99),rgb(243, 240, 240);
    height: 350px;
    margin-top: 0px;
  }


.volhead{
    position:relative;
    z-index:100;
    color:rgb(255, 255, 255);
    line-height:150%;
    width:100%;
}
.voltext{
  line-height:30px;
  color:rgb(214, 207, 207);
  
}

.adjvol{
  left: 40px;
  position:absolute;
  top:20%;
}

.signbutton {
    background-color: #ddd;
    border: 2px;
    border-color: #ff0054;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
  }
  
  .signbutton:hover {
    background-color: #f1f1f1;
  }

  .para01{
    margin-top: 50px;
    width: 1000px;
    text-align: center;
    color: rgb(99, 99, 99);
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card1-cont{
  margin-top: 50px;
  display: flex;
}
.card1 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 25%;
  margin-left: 6%;
  border-radius: 8px;
  background-color: rgb(245, 245, 245);
  text-align: center;
}

.card1:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card1-img {
  border-radius: 5px 5px 0 0;
}

.container {
  padding: 2px 16px;
}

.card1-title{
    color: rgb(37, 37, 37);
    font-weight:bold;
}
.crd1-p{
    
  color: rgb(78, 78, 78);
}

.cont-headi{
  margin-top: 80px;
  text-align: center;
  color: rgb(209, 55, 55);
  font-weight: bold;
}

.para001{
  margin-top: 30px;
  width: 100%;
  text-align:center;
  color: rgb(99, 99, 99);
  font-size: x-large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  align-items: center;
}

/* ............. */
.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #B90E0A;
  text-align: center;
  cursor: pointer;
  width: 100%;
  border-radius: 5px 5px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.button:hover {
  background-color: #555;
}

/* .................. */

.headvol{
  margin-top: 80px;
  text-align: left;
  color: rgb(209, 55, 55);
  font-weight: bold;
}

.headpara{
  line-height: 24px;
  font-size:18px;
  color:gray;
}

.voldiv{
  margin-left:80px;
  margin-right: 80px;
}

